body {
    background-image: url('lake-os-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}   
p {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
#title {
    text-align: center;
    color: white;
    font-size: 60px;
    
}